.container{
  display: grid;
  grid-template-columns: 200px 350px auto;
  height: 100vh;
  
}
.header{
  display: grid;
  border-right: 1px solid lightgray;
  padding: 1rem;
  background: black;
 }
.header-container{
  display: flex;
  flex-direction: column;
  color: white;

}
.header-list{
  list-style: none;
  padding: 0;
}
.header-list-item{
  display: block;
  padding: 10px;
  cursor: pointer;
}
.left{
  /* display: grid; */
  overflow: auto;
}
.left::-webkit-scrollbar{
  width: 0 !important;  
}
.right{
  
  /* border: 2px solid red; */
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr; */
  padding: 1rem;
}
.single-post{
  display: grid;
}

.post-selected {
 padding: 1rem;
 background: lightgray;
 border-right: 1px solid lightgray;
 border-bottom: 1px solid lightgray;
}

.post{
 padding: 1rem;
 border-right: 1px solid lightgray;
 border-bottom: 1px solid lightgray;
}
.post:hover {
  cursor: pointer;
  background-color: lightgray;
}

h1{
  text-align: left;
  margin: 0 0 10px 0;
  color: darkgray;
}
a{
  text-decoration: none;
  color: black;
}
.comments{
   
   padding: 5px;
} 
.comment{
  padding: 1rem;
  border: 1px solid lightgray;
}
 